
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
/* Format navbar */
ul li {
	display: inline;
}

</style>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Ultimate Guitar</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Guitar Tabs</a></li>
				<li><a href="#">Lessons</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Personal Tab</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Wiki</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			</ul>
		</div>
	</nav>

	
	
	<div class="container ">
		<div class="row">
			<div class="col-sm-3 well form-group-lg">
				<div class="form-horizontal">
	    			<div class="input-group input-lg form-group-lg text-center">
						<span class="input-group-btn">
	        				<button class="btn btn-primary btn-lg dropdown-toggle" style="border-radius:5px;" type="button" data-toggle="dropdown">
								Publish <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Tab</a></li>
								<li><a href="#">Review</a></li>
								<li><a href="#">Article</a></li>
							</ul>
	      				</span>

	    				
					</div>
				</div> 
			</div>

			<div class="col-sm-9 well">
				<div class="form-horizontal">
	    			<div class="input-group input-lg form-group-lg">
						<span class="input-group-btn">
	        				<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
								Search for Tab Using <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Tabs</a></li>
								<li><a href="#">Artists</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">Lessons</a></li>
								<li><a href="#">Users</a></li>
							</ul>
	      				</span>

	    				<input type="text" class="form-control"  placeholder="Search for artists, songs, reviews, anything!">
	      				<span class="input-group-btn">
	        				<button class="btn btn-default btn-lg" type="button">Search</button>
	      				</span>
					</div>
				</div>
			</div>

		</div>
		<!--End search bar  -->

	</div>


	<div class="container well">
		<div class="col-sm-12">
			
			<div class="col-sm-12 well" style="background-color: #3cb371;">
				<h1 style="font-color: white;">Tab Pro</h1>
			</div>

			<div>
		        <div class="row">
		        	<div class="col-sm-3">
		        		<center>
			        		<img style="margin-top: 30px;" src="../img/finesse.png" alt="brunoMars" width="90%">
			        		<h4>Bruno Mars & Cardi B</h4>
		        		</center>
		        	</div>

		        	<div class="col-sm-6" style="font-size:125%; margin-top:40px;">
	        			<p>24K Magic</p>
	        			<p>Count on Me</p>
		        		<p>Just the Way You Are</p>	        			
	        			<p>Talking to the Moon</p>
	        			<p>That's What I Like</p>
	        			<p>Versace on the Floor</p>
		        	</div>
		        	
		        	<div class="col-sm-3">
		        		<center>
		        			<h3>LEARN SONGS<br/>EASIER AND FASTER<br/>WITH TAB PRO</h3>
							<br/>
							
							<p style="font-size:125%;">Try our Tab Pro experience to learn songs the new way!</p>
							<br/><br/>
							
							<p style="font-size:125%;">Start a Free Trial Today</p>
							<button class="btn btn-lg btn-success">TRY FOR FREE</button>
						</center>
		        	</div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="container well">
		<div class="row">
			<div class="col-sm-4 spotlight">
				<h1>Music Reviews:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player"">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More Reviews</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>Music News:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More News</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>Featured Lessons:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More Lessons</button>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-4 spotlight">
				<h1>Top 100 Tabs:</h1>
				<ul class="nav nav-pills nav-stacked">
	                <li><a href="#">Katy Perry - Witness</a></li>
	                <li><a href="#">Type O Negative - Paranoid</a></li>
	                <li><a href="#">Blink-182 - California</a></li>
	                <li><a href="#">Placebo - Slacker</a></li>
	                <li><a href="#">Major Lazer - Leg Over</a></li>
	                <li><a href="#">Billy Joel - Roberta</a></li>
	            </ul>
				<button class="btn btn-block">More Top Tabs</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>UG Forum:</h1>
				<ul class="nav nav-pills nav-stacked">
	                <li><a href="#">Preferred Scale Length</a></li>
	                <li><a href="#">Create A Setup for Recording and Playing Live Through a Comuter Interface</a></li>
	                <li><a href="#">Guitar Pickups Suggestions</a></li>
	                <li><a href="#">Speed Development Question</a></li>
	                <li><a href="#">Which Guitar in your opinion for Death Metal ?</a></li>
	                <li><a href="#">Is it worth upgrading pickups?</a></li>
	            </ul>
				<button class="btn btn-block">View Forum</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>For Beginners:</h1>
				<ul class="nav nav-pills nav-stacked">
	                <li><a href="#">How To Read Tabs</a></li>
	                <li><a href="#">Understanding Key Signatures</a></li>
	                <li><a href="#">Know Your Intervals</a></li>
	                <li><a href="#">6 Exercises To Improve Your Rhythm And Time</a></li>
	                <li><a href="#">6 Reasons You Should Learn Your Scale Patterns</a></li>
	                <li><a href="#">How To Avoid Sucking As A Self-Taught Guitarist</a></li>
	            </ul>
			</div>
		</div>
	</div>

	<footer class="panel-footer">
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-md-6">
		            <ul>
		                <li><a href="#">About</a></li>
		                <li><a href="#">Site rules</a></li>
		                <li><a href="#">TOS</a></li>
		                <li><a href="#">Privacy</a></li>
		                <li><a href="#">Advertise</a></li>
		                <li><a href="#">Support</a></li>
		            </ul>
		        </div>
		    </div>
		</div>
	</footer>

</body>
<style type="text/css">
	.spotlight:hover img {
  		opacity: 0.4;	
	}

	img {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 100%;
	}

</style>
</html>
