
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
/* Format navbar */
ul li {
	display: inline;
}

</style>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Ultimate Guitar</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Guitar Tabs</a></li>
				<li><a href="#">Lessons</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Personal Tab</a></li>
				<li><a href="#">Reviews</a></li>
				<li><a href="#">Wiki</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-horizontal">
					<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px;">
						Search for Tab Using <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">tabs</a></li>
						<li><a href="#">artists</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">reviews</a></li>
						<li><a href="#">lessons</a></li>
						<li><a href="#">users</a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-9">
				<div class="form-horizontal">
	    			<div class="input-group input-lg form-group-lg">
	    				<input type="text" class="form-control"  placeholder="Search for artists, songs, reviews, anything!">
	      				<span class="input-group-btn">
	        				<button class="btn btn-default btn-lg" type="button">Search</button>
	      				</span>
					</div>
				</div>
			</div>

		</div>
		<!--End search bar  -->

		<div class ="row">
		<ul class="nav navbar-nav">
				<li class="active"><a href="#">Fresh Tabs</a></li>
				<li><a href="#">0-9</a></li>
				<li><a href="#">A</a></li>
				<li><a href="#">B</a></li>
				<li><a href="#">C</a></li>
				<li><a href="#">D</a></li>
				<li><a href="#">E</a></li>
				<li><a href="#">F</a></li>
				<li><a href="#">G</a></li>
				<li><a href="#">H</a></li>
				<li><a href="#">I</a></li>
				<li><a href="#">J</a></li>
				<li><a href="#">K</a></li>
				<li><a href="#">L</a></li>
				<li><a href="#">M</a></li>
				<li><a href="#">O</a></li>
				<li><a href="#">P</a></li>
				<li><a href="#">Q</a></li>
				<li><a href="#">R</a></li>
				<li><a href="#">S</a></li>
				<li><a href="#">T</a></li>
				<li><a href="#">U</a></li>
				<li><a href="#">V</a></li>
				<li><a href="#">W</a></li>
				<li><a href="#">X</a></li>
				<li><a href="#">Y</a></li>
				<li><a href="#">Z</a></li>
				<li><a href="#">top 100 tabs</a></li>	
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="col-sm-12">
			<h1>Tab Pro</h1>
			<div class="well">
		        
		        
		        <div class="row">
		        	<div class="col-sm-4">
		        		<h4>TESTING 1</h4>
		        	</div>

		        	<div class="col-sm-4">
		        		<h4>TESTING 2</h4>
		        	</div>
		        	
		        	<div class="col-sm-4">
		        		<center><h3>LEARN SONGS<br/>EASIER AND FASTER<br/>WITH TAB PRO</h3>
						<br/>
						<p style="font-size:110%;">Start your own Tab Pro experience</p>
						<br/><br/>
						<button class="btn btn-success">TRY IT TODAY</button>
						</center>
		        	</div>
		        </div>
		    </div>
		</div>

		<div class="row">
			<div class="col-sm-4 spotlight">
				<h1>Music Reviews:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More Reviews</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>Music News:</h1>
				<img class="image" src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More News</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>Featured Lessons:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More Lessons</button>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-sm-4 spotlight">
				<h1>Featured Tabs:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">More Featured Tabs</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>UG Forum:</h1>
				<img class="image" src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">View Forum</button>
			</div>
			<div class="col-sm-4 spotlight">
				<h1>UG IQ Top Users:</h1>
				<img src="../img/guitarplayer.jpg" alt="guitar player" width="100%">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<button class="btn btn-block">View Top Users</button>
			</div>
		</div>
	</div>

</body>
<style type="text/css">
	.spotlight:hover img {
  opacity: 0.4;
}


</style>
</html>
